/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
img {
    display: block;
}

body {
    font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

/* header */

header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 0;
}

header ul {
    display: flex;
    color: #464646;
    gap: 35px;
    list-style: none;
    padding: 0 18px;
    font-size: small;
}

/* main */

main .black-div {
    background-color: #1c1c1c;
    height: 130px;
}

/* BlueStrip */
.icon-container {
    background-color: #0282f9;
}

#blue-strip {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
}

#blue-strip li {
    display: flex;
    align-items: center;
    gap: 18px;
    color: #fff;
}

#blue-strip li>img {
    height: 55px;
}

#blue-strip .img-power-visa {
    height: 35px;
}

/* footer */

footer {
    background-color: #303030;
}